@charset "UTF-8";

@media (max-width: 600px) {
    .banner-headline {
        padding: 20px;
    }

    .banner-headline h1 {
        font-size: 55px;
    }

    .banner-headline h2 {
        font-size: 17px;
    }

    .banner-options {
        height: auto;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    #banner {
        height: auto;
    }

    .footer-menu {
        flex-direction: column;
    }

    .footer-area {
        flex-direction: column;
        padding: 20px;
    }

    .footer-copy {
        padding-left: 20px;
    }

    header .container {
        flex-direction: row;
    }

    header {
        height: auto;
    }

    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }

    .logo {
        padding-left: 20px;
    }

    .menu-mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu-mobile:hover {
        cursor: pointer;
    }
}   